body {
   background: rgb(30, 30, 30);
}
.header {
    position:fixed;
    width: 100%;
}
.nav-link {
    color: white;
}
.jumbotron {
    padding-top: 15%;
    padding-left: 4%;
    padding-bottom: 10%;
    background-image: url("../images/Untitled\ design.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.cards {
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}
#shop {
    color: white;
    padding-left: 4%;
}